/*! Init */

@import 'scss/bootstrap/bootstrap';


/*! Vendor */

.photoGallery{

    &.fancybox__container .fancybox__caption {
        font-size: 1.3rem;
        text-transform: uppercase;
        display: inline;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        padding: 10px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        color: black;
        max-width: 70%;
    }
    .fancybox__content{
        margin-bottom: 20px;
        &:after{
            content: ' ';
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 1;
            pointer-events: none;
            background-image: url(../Images/camera-2008479_640.png);
            width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left top;
            opacity: 0.5;
        }
    }

    .fancybox__toolbar{
        margin: 0 auto;
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    .fancy-image-download-button{
        background: #952020;
        &:hover{
            background: #791a1a !important;
        }
    }
}